extends layout

block content
    div.container
        form.form-horizontal(action="/form", method="post" )
            select.btn.btn-default.dropdown-toggle(name="picker" )
              each item in items
                option(value=item) #{item}
            input.btn(type="submit")

    br
    div.container
        +outputGrid(pickVal)