extends layout

block content
    div(class="container")
        form(action="/form", method="post" class="form-horizontal")
            select(name="picker" class="btn btn-default dropdown-toggle" )
              each item in items
                option(value=item) #{item}
            input(type="submit" class="btn")

    br
    div(class="container")
        +outputGrid(pickVal)