extends layout

block content
    h1= title
    img(src="./images/buccaneer.jpg")
    p Nam vitae neque eleifend, pellentesque nulla sed, eleifend sapien. Donec tincidunt egestas nunc nec pulvinar. Nunc vel felis mollis, dignissim lectus nec, tincidunt turpis. Phasellus in dui vitae odio feugiat congue. Vivamus suscipit augue non elit mollis scelerisque. Phasellus ac nibh eget lectus rhoncus rutrum. Donec id leo congue, eleifend purus id, ultricies purus. Etiam vitae massa imperdiet, interdum libero eget, tristique arcu. Vivamus ac magna vel arcu consequat imperdiet. Mauris massa metus, blandit eget tempor ac, placerat in nisl.
    p Fusce lobortis fringilla lacus at pellentesque. Nam hendrerit massa tortor, eget molestie elit laoreet a. Proin vitae sagittis purus. Phasellus in faucibus dolor. Maecenas a enim sed mi mattis luctus. Suspendisse gravida finibus lobortis. Integer dapibus lectus vel nisl commodo ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit.