extends layout

block content
    div(class="container")
        h2= title
        div(class="container")
            form(method="post" action="/form" class="form-horizontal")
                label Name
                input(type="text" name="name" class="form-control")
                label Email
                input(type="text" name="email" class="form-control")
                label Comments
                textarea( name="comment", rows="5", cols="20" class="form-control")
                br
                input(type="submit" class="btn")
    br
    div(class="container")
        | Name: &nbsp
        strong= name
        br
        br
        | Email: &nbsp
        strong= email
        br
        br
        | Comments: &nbsp
        strong= comment





