extends layout

block content
    h2= title
    div(class="container")
    form(method="post" action="/form")
        div( class="form-group" )
            label Name
            input(type="text" name="name" class="form-control")
        div( class="form-group" )
            label Email
            input(type="text" name="email" class="form-control")
        div( class="form-group" )
            label Comments
            textarea( name="comment", rows="5", cols="20" class="form-control")

        input(type="submit" class="btn")
    div(class="container")
        | Name: &nbsp
        strong #{name}
        br
        br
        | Email: &nbsp
        strong #{email}
        br
        br
        | Comments: &nbsp
        strong #{comment}





