extends layout

block content
    h2= title
    form(method="post" action="/form")
        | Name
        input(type="text" name="name" )
        br
        | Email
        input(type="text" name="email")
        br
        | Comments
        textarea( name="comment", rows="5", cols="20" )
        br
        input(type="submit")

    div
        | Name: &nbsp
        strong #{name}
        br
        br
        | Email: &nbsp
        strong #{email}
        br
        br
        | Comments: &nbsp
        strong #{comment}





