extends layout

block content
    div.container
        h2= title
        div.container
            form.form-horizontal(method="post" action="/form")
                label Name
                input.form-control(type="text" name="name")
                label Email
                input.form-control(type="text" name="email")
                label Comments
                textarea.form-control( name="comment", rows="5", cols="20")
                br
                input.btn(type="submit")
    br
    div.container
        | Name: &nbsp
        strong= name
        br
        br
        | Email: &nbsp
        strong= email
        br
        br
        | Comments: &nbsp
        strong= comment





